<html>
	<head>
		<style type="text/css">
			body{background-color:#4CB6EA;}
			#wrapper{	background-color:white;
						padding:20px;
						margin:auto;
						margin-top: 20px;
						min-width:300px;
						max-width:1000px;
					}
			</style>
		<title>
			{titel}
		</title>
	</head>
	<body>
		<div id="wrapper">
			<table style="width:100%">
				<tr>
					<td>
						<h1>
							{title}
						</h1>
					</td>
					<td style="text-align: right">
						{date}
					</td>
				<tr>
			</table>
			<hr>
			{conntent}
		</div>
	</body>
	 
</html>
