        <tr>
            <td>
                <input type="text" name="title" class="form-control">
            </td>
            <td>
                <select name="subfrom" class="form-control">
                    {options}
                </select>
            </td>
            <td>
                <select name="part" class="span2 form-control">
                    <option value="0">Public</option>
                    <option value="1">UCP</option>
                    <option value="2">ACP</option>
                </select>
            </td>
            <td>
                <input type="text" name="link" class="form-control"/>
            </td>
            <td>
                <input type="checkbox" name="newtab"/>
            </td>
        </tr>