        <tr>
            <td>
                <input type="text" name="title" value="">
            </td>
            <td>
                <select name="subfrom">
                    {options}
                </select>
            </td>
            <td>
                <select name="part">
                    <option value="0">Public</option>
                    <option value="1">UCP</option>
                    <option value="2">ACP</option>
                </select>
            </td>
            <td>
                <input type="text" name="link" value=""/>
            </td>
            <td>
                <input type="checkbox" name="newtab" value="1" />
            </td>
        </tr>