<form action="?acp=acp_menu&AMP;do=create_menu" method="post">
    <table style="width: 100%" class="table">
        <tr>
            <td>{s_name}</td>
            <td>{s_submenu}</td>
            <td>{s_type}</td>
            <td>{s_link}</td>
            <td>{s_newtab}</td>
        </tr>
        {add}
    </table>
    <input class="btn btn-default" type="submit" value="erstellen" />
</form>
<form action="?acp=acp_menu&AMP;do=update_menu" method="post">
    <table width="100%" class="table table-hover">
        <colgroup>
            <col />
            <col />
            <col />
            <col width="20" />
            <col width="20" />
        {list}
    </table>
    <input class="btn btn-default" type="submit" value="Update" />
</form>

