<form action="index.php?acp=acp_news&AMP;do=create_post" method="post">
    <table width="100%" class="table">
        <tr>
            <td>{s_title}:</td><td><input name="title" type="text" class="form-control"></td>
        </tr>
        <tr>
            <td>{s_main_image}:</td><td><input name="main_image" type="text" class="form-control"></td>
            <td>{s_show_author}</td><td><input type="checkbox" name="show_author" value="1" /></td>
        </tr>
        <tr>
            <td>{s_description}:</td><td><input name="description" type="text" class="form-control"></td>
            <td>{s_show_print}</td><td><input type="checkbox" name="show_print" value="1" /></td>
        </tr>
        <tr>
            <td>{s_group}:</td><td><select name="grp" class="form-control">{groups}</select></td>
        </tr>
        <tr>
            <td colspan="4"><br />{editor}</td>
        </tr>
        <tr>
            <td><input class="btn btn-default" type="submit" value="Annehmen" /></td>
        </tr>
    </table>
</form>