<form action="?acp=acp_menu&AMP;do=create_menu" method="post">
    <table width="100%">
        <tr>
            <td>[s_name]</td>
            <td>[s_submenu]</td>
            <td>[s_type]</td>
            <td>[s_link]</td>
            <td>[s_newtab]</td>
        </tr>
        [add]
    </table>
    <input class="buttonStyle" type="submit" value="erstellen" />
</form>
<hr />
<form action="?acp=acp_menu&AMP;do=update_menu" method="post">
    <table width="100%" class="tableStyle">
        <colgroup>
            <col />
            <col />
            <col />
            <col width="20" />
            <col width="20" />
        [list]
    </table>
    <input class="buttonStyle" type="submit" value="Update" />
</form>

