<form action="index.php?acp=acp_site&AMP;do=create_site" method="post">
	<table>
		<tr><td>{s_title_site}:</td><td><input name="title" type="text" value=""></td></tr>
		<tr><td>{s_keywords}:</td><td><input name="keywords" type="text" value=""></td></tr>
		<tr><td>{s_description}:</td><td><input name="description" type="text" value=""></td></tr>
		<tr><td>{s_addafter}:</td><td><select name="subfrom"><option value="0">Keine Uebergeordnete Seite</option>{options_addafter}</select></td></tr>
		<tr><td></td><td><input class="buttonStyle" type="submit" value="Annehmen" /></td>
	</table>
</form>