@import url(https://fonts.googleapis.com/css?family=Pontano+Sans);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

body {
    background-color: #000;
    background-image: url(../images/bg_1.jpg);
	background-repeat: repeat;
    background-attachment: fixed;
    font-family:'Pontano Sans', sans-serif;
    margin: 0;
}

img {
    border-width:0;
}

#wrapper {
    box-shadow:5px 10px 20px grey;
    height:auto;
    min-width:300px;
    max-width:1200px;
    background:#Fff;
    margin-left:auto;
    margin-right:auto;
}

.main {
    box-shadow:0px 10px 20px white;
    height:auto;
    min-width:300px;
    max-width:1200px;
    background:#Fff;
    margin-left:auto;
    margin-right:auto;
}

.wrapper_width {
    width:100%;
    background:#4cb6ea;
}

fieldset {
    border:0;
}

#copyright {
    color:#fff;
}

pre {
    font-family:'Source Code Pro', sans-serif;
    border:1px solid #F0F0F0;
    background-color:#F8F8F8;
    color:#777;
    margin:30px;
    padding:10px;
}

#footbar {
    text-align:center;
    background:#74CEFA;
    padding:20px 0;
}

.ucp_msg_gravatar {
    width: 18px;
    transition: width .3s ease-in-out;
}

.tableStyle{
    text-align:left;
    width: 100%;
}

.tableStyle th{
    color: #000;
    background-color: #fff;
    border-bottom: 1px solid #000;
}

.tableStyle td,th {
    padding:5px;
    vertical-align: middle;
}

.tableStyle tr:nth-child(1n+2) {
    background-color:#F2F2F2;
    color:#000;
}

.tableStyle tr:nth-child(2n+3) {
    background-color:#fff;
    color:#000;
    transition:all .3s linear;
}

.tableStyle tr:hover{
    background-color:#D8D8D8;
}

.ucp_msg_inbox {
    width: 100%;
}

.overview_head hr {
    border:0;
    height:0;
    border-top:1px solid rgba(0,0,0,0.1);
    border-bottom:1px solid rgba(255,255,255,0.3);
}

.cat_block {
    width: 100%;
    height: 75px;
    overflow: hidden;
    position: relative;
    transition: all .3s ease-in-out;
}

.overview_top_post {
    width: 100%;
}
.overview_top_post img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.overview_news_panel {
    font-size:14px;
}

.overview_news_panel div {
    transition: background .3s ease-in-out;
}

.overview_news_panel div:hover {
    background: #9DDCFC;
}

.overview_news_panel a, .overview_news_panel a:link,.overview_news_panel a:visited,.overview_news_panel a:active {
    text-decoration:none;
    color: #000;
    transition:color .3s ease-in-out;
}

.overview_news_panel a:hover {
    color:#E6E6E6;
}

.overview_news_panel hr {
    border:0;
    height:0;
    border-top:1px solid rgba(0,0,0,0.1);
    border-bottom:1px solid rgba(255,255,255,0.3);
}

.overview_block {
    width: 48%;
    min-width: 280px;
    display:inline-block;
    vertical-align:top;
}

.cat_block:hover , .cat_block.hover{
    height:  150px;
    box-shadow: 0px 4px 10px 4px #999;
    font-size: 20px;
}

.cat_image, .cat_text { 
    position: absolute;
    width: 100%;
}

.cat_image {
    top: -38px;
    z-index: 0;
    opacity: 0.5;
    transition: all .4s linear;
}

.cat_block:hover .cat_image{
    top: 0px;
    opacity: 0.8;
}

.cat_block:hover .cat_text {
    opacity: 1;
}

.cat_text {
    opacity: 0.5;
    padding: 2px;
    background: #000;
    color: #fff;
    z-index: 1;
    bottom:0px;
    transition: opacity .2s linear;
}

.com_clear {
    clear:left;
    width:100%;
    font-size:0;
    line-height:0;
    margin:0;
    padding:0;
}

.comment {
    width:100%;
    padding-bottom:10px;
}

.comment .avatar_box {
    float:left;
    width:10%;
}

.comment .avatar {
    background:#fff;
    border:1px solid #d8d8d8;
    position:relative;
    padding:4px;
}

.comment .username {
    color:#383838;
    font-weight:700;
    clear:left;
    margin:0;
}

.comment .comment_box {
    float:right;
    padding-bottom:8px;
    min-height:52px;
    width:89%;
    background:#fff;
    border:1px solid #d8d8d8;
    position:relative;
}

.comment .comment_box:before {
    content:'';
    width:13px;
    height:13px;
    background:#fff;
    border-left:1px solid #d8d8d8;
    border-bottom:1px solid #d8d8d8;
    position:absolute;
    top:24px;
    left:-8px;
    transform:rotate(45deg);
}

.comment .comment_paragraph {
    color:#454545;
    line-height:18px;
    margin:4px 10px 0 15px;
}

.comment .comment_paragraph:focus {
    outline:none;
}

.comment .comment_submit {
    float:right;
    margin-top:5px;
}

.comment .comment_area {
    resize:none;
    border:none;
    width:100%;
    height:auto;
}

.comment .date {
    float:right;
    font-size:.85em;
    color:#454545;
    margin-top:0;
    margin-right:15px;
}

.QapTcha {
    float:left;
    margin-top:20px;
    width:252px;
}

.QapTcha .clr {
    clear:both;
}

.QapTcha .bgSlider {
    width:252px;
    height:10px;
    float:left;
    background-color:#FFF;
    background:transparent url(../images/bg_qaptcha.png) no-repeat;
}

.QapTcha .Slider {
    width:10px;
    height:10px;
    background:transparent url(../images/bg_draggable_qaptcha.png) no-repeat;
    cursor:e-resize;
    position:relative;
    top:0;
    left:0;
}

.QapTcha .TxtStatus {
    width:252px;
    margin-top:7px;
    text-align:left;
    color:#bb2828;
    font-family:Verdana;
    font-size:10px;
    clear:both;
}

.QapTcha .dropSuccess {
    color:#4e8b37;
}

.QapTcha .dropError {
    color:#bb2828;
}

#socialbox {
    height: 54px;
}

.news_panel {
    font-size:14px;
}

.news_panel div {
    transition: background .3s ease-in-out;
}

.news_panel div:hover {
    background: #9DDCFC;
}

.news_panel a:link,.news_panel a:visited,.news_panel a:active {
    text-shadow:none;
    text-decoration:none;
    color:#fff;
    transition:color .3s ease-in-out;
}

.news_panel a:hover {
    color:#E6E6E6;
    text-shadow:0 0 .2em #4CB6EA, 0 0 .2em #4CB6EA, 0 0 .2em #4CB6EA;
}

.news_panel hr {
    border:0;
    height:0;
    border-top:1px solid rgba(0,0,0,0.1);
    border-bottom:1px solid rgba(255,255,255,0.3);
}

#ucp_panel hr {
    border:0;
    height:0;
    margin-top: 0px;
    border-top:1px solid rgba(0,0,0,0.1);
    border-bottom:1px solid rgba(255,255,255,0.3);
}

#ucp_panel table {
    width: 100%; 
    border: 2px solid #fff;
    transition: all .3s ease-in-out;
}

#ucp_panel table:hover {
    box-shadow: 0px 4px 10px 4px #999;
}

#ucp_panel #avatar{
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 5px;
}

.linkboxgt {
    opacity:0.5;
    transition:opacity .3s linear;
}

.linkboxgt:hover {
    opacity:1;
}

.buttonSocial {
    width:30px;
    opacity:0.8;
    transition:all .1s ease-in-out;
}

.buttonSocial:hover {
    width:50px;
    opacity:1;
}

.horizontalList li {
    display:inline;
    list-style-type:none;
    padding-right:20px;
}

.buttonStyle {
    height:24px;
    background-color:#4CB6EA;
    border-radius:2px;
    border:1px solid #057fd0;
    display:inline-block;
    cursor:pointer;
    color:#fff;
    text-decoration:none;
    transition:all .3s ease-in-out;
    margin:5px;
    padding:0 20px;
}

.buttonStyle:hover {
    background-color:#fff;
    color:#4CB6EA;
}

.buttonStyle:active {
    position:relative;
    top:1px;
}

.right {
    text-align:right;
}

.half {
    width:50%;
}

#right {
    float:right;
    width:300px;
    background:#FAFAFA;
    margin-bottom:20px;
}

.navi a,.navi a:link,.navi a:visited,.navi a:hover,.navi a:active {
    color:#fff;
    font-weight:700;
    text-decoration:none;
}

#news a,#news a:link,#news a:visited,#news a:active {
    text-shadow:none;
    text-decoration:none;
    color:#4CB6EA;
    transition:color .3s ease-in-out;
}

#news a:hover {
    color:#E6E6E6;
    text-shadow:0 -1px 1px #666666, 0 1px 1px #FFF;
}

#news short {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 40px;
}

input[type=text],textarea {
        transition:all .3s ease-in-out;
}

input[type=text]:focus,textarea:focus {
        box-shadow:0 0 5px rgba(81,203,238,1);
}

#content {
    margin-right:300px;
    height:auto;
    width:auto;
    background:#fff;
    min-width:260px;
    max-width:880px;
    padding:20px;
}

#foot {
    width:100%;
    background:#4cb6ea;
    height:150px;
    text-align:center;
}

#head {
    background:#E6E6E6;
    width:100%;
}

#login input {
    width:100%;
    margin-bottom:2px;
}

#counter {
    width:70%;
    margin:0 auto;
}

#hbox {
    font-weight:700;
    letter-spacing:1px;
    text-transform:uppercase;
    font-size:14px;
    color:#fff;
}

.box_h {
    font-weight:700;
    letter-spacing:1px;
    text-transform:uppercase;
    font-size:14px;
    font-family:'PT Sans', sans-serif;
    color:#fff;
    background:#4cb6ea;
    padding:5px;
}

.inlineblock.part {
    width:300px;
    height:auto;
}

.inlineblock.v-hr {
    width:2px;
    color:#fff;
    text-align:center;
    height:250px;
    margin:5px;
}

.inlineblock {
    display:inline-block;
    vertical-align:top;
}

.box_r {
    background:#74CEFA;
    padding:5px;
}

.center {
    text-align:center;
}

.inblock {
    display:inline-block;
    vertical-align:top;
    width:auto;
    padding:5px;
}

.full,#menu,.width_full {
    width:100%;
}

@media all and (max-width: 640px), only screen and (max-width: 640px), only screen and (max-width: 640px), only screen and (max-width: 640px), only screen and (min-resolution: 192dpi) and (max-width: 640px), only screen and (min-resolution: 2dppx) and (max-width: 640px) {
    body {
        background-image:none;
        border:0;
        margin:0;
        padding:0;
    }

    .overview_block {
        width: 100%;
    }
    
    #wrapper {
        box-shadow:none;
    }

    .inblock {
        width:100%;
    }

    #right {
        float:none;
        width:100%;
    }

    #content {
        margin-right:0;
        padding:5px;
    }
}
@media all and (max-width: 905px), only screen and (max-width: 905px), only screen and (max-width: 905px), only screen and (max-width: 905px), only screen and (min-resolution: 192dpi) and (max-width: 905px), only screen and (min-resolution: 2dppx) and (max-width: 905px) {
    .overview_block {
        width: 100%;
    }
}