<div id="news">
    <div class="center"><h3>{title}</h3></div>
    <div style="float:left"><a href="../pages/print.php"> <img src="{style}images/icon_printer.png" width="20" alt=""/></a></div>
    <div style="text-align:right">{news_date}</div>
    <div>{content}</div>
    <div>{dyn_sharebar}</div>
    <div id="comments">
        <hr>
        [array|comments|
            <div class="comment">
                <div class="avatar_box"> <img src="{gravatar}" alt="Avatar" class="avatar" />
                    <p class="username">{name}</p>
                </div>
                <div class="comment_box fr">
                    <p class="comment_paragraph" contenteditable="false">{content}<b id="comment{id}" style="display:none">{content_expand}</b> </p>
                    <span class="date">{date_out}</span></div>
                <div class="com_clear"></div>
            </div>
        ]
    </div>
</div>