<div id="news" class="text">
    [array|posts|<div>
        <div class="center"><h3>{title}</h3></div>
        <div style="text-align:right">{date_out}</div>
        <div>{content}</div>
            <table class="width_full">
                <tr>
                    <td>
                        <a href="../pages/news.php?id={id}">{s_goto_news}</a>
                    </td>
                    <td class="right">
                        <a href="../pages/news.php?id={id}">Kommentare: {comment_count}</a>
                    </td>
                </tr>
            </table>
        <hr />
    </div>]
</div>