.gallery_overlay {
    text-align: center;
}

.gallery_overlay p {
    border: solid 1px #000;
    border-radius: 5px;
    padding: 3px;
    margin: 8px;
    width: auto;
    height: auto;
    overflow: hidden;
    display: inline-block;
    transition: all .2s linear;
}

.gallery_overlay p:hover {
    opacity: 0.5;
}

.add-module {
    text-align: center;
    width: 100%;
    background: rgba(211, 211, 211, 0.27);
}

.gallery_overlay p img {
    height: 100px;
}

.QapTcha {
    float: left;
    margin-top: 20px;
    width: 252px;
}

.QapTcha .clr {
    clear: both;
}

.QapTcha .bgSlider {
    width: 252px;
    height: 10px;
    float: left;
    background: transparent url(/dc-inc/images/qaptcha/bg_qaptcha.png) no-repeat;
}

.QapTcha .Slider {
    width: 10px;
    height: 10px;
    background: transparent url(/dc-inc/images/qaptcha/bg_draggable_qaptcha.png) no-repeat;
    cursor: e-resize;
    position: relative;
    top: 0;
    left: 0;
}

.QapTcha .TxtStatus {
    width: 252px;
    margin-top: 7px;
    text-align: left;
    color: #bb2828;
    font-family: Verdana;
    font-size: 10px;
    clear: both;
}

.QapTcha .dropSuccess {
    color: #4e8b37;
}

.QapTcha .dropError {
    color: #bb2828;
}

#edit_site {
    border-radius: 75px;
    color: #505050;
    background: #fff;
    font-size: 30px;
    width: 150px;
    height: 150px;
    display: block;
    position: fixed;
    bottom: -75px;
    right: -75px;
    transition: all .3s linear;
}

#edit_site:hover {
    background: #505050;
    color: #fff;
}

#edit_site span {
    margin-top: 30px;
    margin-left: 30px;
}

