<form id="create_mod" class="table" action="ajax_handler.php">
    <table>
        <tr>
            <td>
                <a href="../acp/?acp=acp_site" class="btn btn-default">Seiten Verwalten</a>
            </td>
            <td>
                <a onclick="toggle_content('open_1',0);" class="btn btn-default">Erweiterte Einstellungen</a>
            </td>
            <td>
                <input type="hidden" name="position" value="{position}"/>
            </td>
            <td>
                <select name="module" class="form-control">
                    {available_modules}
                </select>
            </td>
            <td>
                <input type="submit" class="btn btn-default" value="Add"/>
            </td>
        </tr>
    </table>
</form>
<form method="post" action="site.php?show={link}&do=update">
    <div class="open_1" style="display:none" class="form-group">
        <table width="100%" class="table">
            <tr>
                <td>{s_title}:</td>
                <td><input name="title" type="text" value="{title_admin}" class="form-control"></td>
                <td>{s_show_lastedit}</td>
                <td><input type="checkbox" name="show_lastedit" value="1" {lastedit_select}/></td>
            </tr>
            <tr>
                <td>{s_keywords}:</td>
                <td><input name="keywords" type="text" value="{keywords}" class="form-control"></td>
                <td>{s_show_author}</td>
                <td><input type="checkbox" name="show_author" value="1" {author_select}/></td>
            </tr>
            <tr>
                <td>{s_description}:</td>
                <td><input name="description" type="text" value="{description}" class="form-control"></td>
                <td>{s_show_print}</td>
                <td><input type="checkbox" name="show_print" value="1" {print_select}/></td>
            </tr>
            <tr>
                <td>{s_addafter}:</td>
                <td>
                    <select name="subfrom" class="form-control">
                        <option value="0">Keine Uebergeordnete Seite</option>
                        [array|title_sites|
                        <option value="{value}"
                        {select}>{title}</option>
                        ]
                    </select>
                </td>
                <td>{s_show_headline}</td>
                <td><input type="checkbox" name="show_headline" value="1" {headline_select}/></td>
            </tr>
        </table>
        <input type="submit" class="btn btn-default" value="Übernehmen"/>
    </div>
</form>
<br/>