

<style>
    .red {
        color: #FE2E2E;
    }

    .green {
        color: #74DF00;
    }
</style>
<h1>HD-Gamers Clan Turnier</h1>
<hr />
<h2>Teilnehmer:</h2>
{players}
<hr />

<h3>Turnierliste</h3>
<table class="tableStyle" style="width:100%">
    <tr><td colspan="5" style="text-align: center">Round 1</td></tr>
    <tr><td>26.05.14 - 21:45 Uhr </td><td class="red">HD-G| Trax</td><td>8</td><td class="green">HD-G| Xulunix</td><td>16</td></tr>
    <tr><td colspan="5" style="text-align: center">Round 2</td></tr>
    <tr><td>26.05.14 - 22:10 Uhr </td><td class="green">HD-G| Jodorlin</td><td>16</td><td class="red">[notPro]bLadji</td><td>5</td></tr>
    <tr><td colspan="5" style="text-align: center">Round 3</td></tr>
    <tr><td>26.05.14 - 22:50 Uhr </td><td class="green">HD-G| Jodorlin</td><td>16</td><td class="red">HD-G| WapitiFiedel</td><td>10</td></tr>
    <tr><td colspan="5" style="text-align: center">Round 4</td></tr>
    <tr><td>26.05.14 - 22:50 Uhr </td><td>HD-G| Xulunix</td><td>X</td><td>HD-G| Jodorlin</td><td>X</td></tr>
    <tr><td colspan="5" style="text-align: center">Round 5</td></tr>
    <tr><td>26.05.14 - 22:50 Uhr </td><td>HD-G| Trax</td><td>X</td><td>[notPro]bLadji</td><td>X</td></tr>
    <tr><td colspan="5" style="text-align: center">Round 6</td></tr>
    <tr><td>26.05.14 - 22:50 Uhr </td><td>HD-G| WapitiFiedel</td><td>X</td><td>Round 5 Winner</td><td>X</td></tr>
    <tr><td colspan="5" style="text-align: center">Round 7</td></tr>
    <tr><td>26.05.14 - 22:50 Uhr </td><td>Round 6 Winner</td><td>X</td><td>Round 4 Winner</td><td>X</td></tr>
</table>


       <h3>Ranking (Win = 2 ; Lose = 0 ; / = 1)</h3>
<table class="tableStyle" style="width:100%">
    <tr><th></th><th>Player</th><th>Rounds</th><th>Points</th></tr>
    <tr><td></td><td>HD-G| Jodorlin</td><td>2</td><td>4</td></tr>
    <tr><td></td><td>HD-G| Xulunix</td><td>1</td><td>2</td></tr>
    <tr><td></td><td>HD-G| Trax</td><td>1</td><td>0</td></tr>
    <tr><td></td><td>[notPro]bLadji</td><td>1</td><td>0</td></tr>
    <tr><td></td><td>HD-G| WapitiFiedel</td><td>1</td><td>0</td></tr>
</table>