@import url(https://fonts.googleapis.com/css?family=Pontano+Sans);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

body {
    background:  url(../images/bg_2.jpg) no-repeat top center, url(../images/bg_1.jpg) repeat fixed;
    margin: 0;
}

img {
    border-width: 0;
}

#wrapper {
    box-shadow: 5px 10px 20px grey;
    height: auto;
    min-width: 300px;
    max-width: 1200px;
    background: #Fff;
    margin-left: auto;
    margin-right: auto;
}

#user_agent {
    display: none;
}

@media only screen and (min-width: 1600px) {
    #user_agent {
        display: block;
        position: fixed;
        bottom: 10px;
        left: 10px;
        opacity: 0.3;
        transition: opacity .3s linear;
    }

    #user_agent:hover {
        opacity: 1;
    }
}

.main {
    box-shadow: 0px 10px 20px white;
    height: auto;
    min-width: 300px;
    max-width: 1200px;
    background: #Fff;
    margin-left: auto;
    margin-right: auto;
}

.center {
    height: auto;
    min-width: 300px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper_width {
    width: 100%;
    background: #4cb6ea;
}

fieldset {
    border: 0;
}

#copyright {
    color: #fff;
}

pre {
    font-family: 'Source Code Pro', sans-serif;
    border: 1px solid #F0F0F0;
    background-color: #F8F8F8;
    color: #777;
    margin: 30px;
    padding: 10px;
}

#footbar {
    text-align: center;
    background: #74CEFA;
    padding: 20px 0;
}

.ucp_msg_gravatar {
    width: 18px;
    transition: width .3s ease-in-out;
}

.ucp_msg_inbox {
    width: 100%;
}

.overview_head hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.cat_block {
    width: 100%;
    height: 75px;
    overflow: hidden;
    position: relative;
    transition: all .3s ease-in-out;
}

#dayline_logo {
    max-width: 100%;
}

.overview_top_post {
    width: 100%;
}

.overview_top_post img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.cat_block:hover, .cat_block.hover {
    height: 150px;
    box-shadow: 0 4px 10px 4px #999;
    font-size: 20px;
}

.cat_image, .cat_text {
    position: absolute;
    width: 100%;
}

.cat_image {
    top: -38px;
    z-index: 0;
    opacity: 0.5;
    transition: all .4s linear;
}

.cat_block:hover .cat_image {
    top: 0;
    opacity: 0.8;
}

.cat_block:hover .cat_text {
    opacity: 1;
}

.cat_text {
    opacity: 0.5;
    padding: 2px;
    background: #000;
    color: #fff;
    z-index: 1;
    bottom: 0;
    transition: opacity .2s linear;
}


.socialbar {
    text-align: center;
    height: 54px;
}

#ucp_panel table {
    width: 100%;
    border: 2px solid #fff;
    transition: all .3s ease-in-out;
}

#ucp_panel table:hover {
    box-shadow: 0px 4px 10px 4px #999;
}

#ucp_panel #avatar {
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 5px;
}

.linkboxgt {
    opacity: 0.5;
    transition: opacity .3s linear;
}

.linkboxgt:hover {
    opacity: 1;
}

.buttonSocial {
    width: 30px;
    opacity: 0.8;
    transition: all .1s ease-in-out;
}

.buttonSocial:hover {
    width: 50px;
    opacity: 1;
}

.horizontalList li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.right {
    text-align: right;
}

.half {
    width: 50%;
}

#right {
    float: right;
    width: 300px;
    background: #FAFAFA;
    margin-bottom: 20px;
}

.navi a, .navi a:link, .navi a:visited, .navi a:hover, .navi a:active {
    color: #4cb5e9;
    font-weight: 700;
    text-decoration: none;
}

.text a, .text a:link, .text a:visited, .text a:active {
    text-shadow: none;
    text-decoration: none;
    color: #4CB6EA;
    transition: color .3s ease-in-out;
}

.text a:hover {
    color: #E6E6E6;
    text-shadow: 0 -1px 1px #666666, 0 1px 1px #FFF;
}

.linkboxgt {
    opacity: 0.3;
}

.linkboxgt:hover {
    opacity: 1.0;
}

#socialshareprivacy {
    max-width: 600px;
    margin: auto;
}

#content {
    margin-right: 300px;
    height: auto;
    width: auto;
    background: #fff;
    min-width: 260px;
    max-width: 880px;
    padding: 20px;
}

#foot {
    width: 100%;
    background: #4cb6ea;
    min-height: 150px;
    text-align: center;
}

#head {
    text-align: center;

    background: #ffffff;
    width: 100%;
}

#login input {
    width: 100%;
    margin-bottom: 2px;
}

#counter {
    width: 70%;
    margin: 0 auto;
}



.inlineblock.part {
    width: 300px;
    height: auto;
}

.inlineblock.v-hr {
    width: 2px;
    color: #fff;
    text-align: center;
    height: 250px;
    margin: 5px;
}

.inlineblock {
    display: inline-block;
    vertical-align: top;
}

.box_h {
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    color: #000;
    padding: 5px;
}

.box_r {
    padding: 5px;
    margin-bottom: 10px;
}

.center {
    text-align: center;
}

.inblock {
    display: inline-block;
    vertical-align: top;
    width: auto;
    padding: 5px;
}

.full, #menu, .width_full {
    width: 100%;
}

#menu {
    z-index: 1;
}

@media all and (max-width: 640px), only screen and (max-width: 640px), only screen and (max-width: 640px), only screen and (max-width: 640px), only screen and (min-resolution: 192dpi) and (max-width: 640px), only screen and (min-resolution: 2dppx) and (max-width: 640px) {
    body {
        background-image: none;
        border: 0;
        margin: 0;
        padding: 0;
    }

    .overview_block {
        width: 100%;
    }

    #wrapper {
        box-shadow: none;
    }

    .inblock {
        width: 100%;
    }

    #right {
        float: none;
        width: 100%;
    }

    #content {
        margin-right: 0;
        padding: 5px;
    }
}

@media all and (max-width: 905px), only screen and (max-width: 905px), only screen and (max-width: 905px), only screen and (max-width: 905px), only screen and (min-resolution: 192dpi) and (max-width: 905px), only screen and (min-resolution: 2dppx) and (max-width: 905px) {
    .overview_block {
        width: 100%;
    }
}