Options +FollowSymLinks
RewriteEngine on
RewriteRule (.*)-(.*)$ $1.php?show=$2
RewriteRule (.*)-(.*)$ $1.php?id=$2

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L,QSA]