<form action="../inc/comment_handler.php?site={site}&amp;subsite={subsite}" method="post">
  <div class="comment">
    <div class="avatar_box"> <img src="{gravatar}" alt="Avatar" class="avatar" />
      <p class="username">{name}</p>
    </div>
    <div class="comment_box fr">
      <p class="comment_paragraph" contenteditable="false">   
          <textarea name="comment" class="comment_area">Kommentar hier eingeben ...</textarea>
      </p>
       </div><input class="comment_submit buttonStyle" type="submit" value="Absenden" />
    <div class="com_clear"></div>
  </div>   
</form>