<a href="?show=new_message" class ="buttonStyle" >[s_new_msg]</a>
<div class="ucp_msg_inbox">
    <div style="width: 100%; text-align: center">
        [s_received]
        <hr class="hrStyle" />
    </div>
    <table class="tableStyle">
        <colgroup>
            <col width="26">
            <col/>
            <col width="20%" />
            <col width="170px" />
            <col width="15"/>
        </colgroup>
        <tr>
            <th></th>
            <th>[s_subject]</th>
            <th>[s_sender]</th>
            <th>[s_date]</th>
            <th></th>
        </tr>
        [inbox]
    </table>
    <br>
    <br>
    <div style="width: 100%; text-align: center">
        [s_sent]
        <hr class="hrStyle" />
    </div>
    <table class="tableStyle">
        <colgroup>
            <col width="26">
            <col/>
            <col width="20%" />
            <col width="170px" />
            <col width="15"/>
        </colgroup>
        <tr>
            <th></th>
            <th>[s_subject]</th>
            <th>[s_receiver]</th>
            <th>[s_date]</th>
            <th></th>
        </tr>
        [outbox]
    </table>
</div>