<form action="login.php?do=register" method="post">
	<table>
		<tr>
			<td> Nickname: </td><td><input type="text" value="" name="username"/></td>
		</tr>
		<tr>
			<td> Vorname: </td><td><input type="text" value="" name="firstname"/></td>
		</tr>
		<tr>
			<td> Nachname: </td><td><input type="text" value="" name="lastname"/></td>
		</tr>
		<tr>
			<td> E-mail: </td><td><input type="email" value="" name="mail"/></td>
		</tr>
		<tr>
			<td> Passwort: </td><td><input type="password" value="" name="password"/></td>
		</tr>
		
		<tr>
			<td> Passwort bestätigen: </td><td><input type="password" value="" name="password2"/></td>
		</tr>
	</table>
	<input type="submit" value="speichern" /> 
</form>