@import url(http://fonts.googleapis.com/css?family=Pontano+Sans);

body{
	background: url(http://shop.d4ho.de/style/default/images/background.jpg);
	background-repeat: repeat;
	background-position: top left;
	font-family: 'Pontano Sans', sans-serif
}
#wrapper{
	height: auto;
	min-width: 300px; 
	max-width: 1200px;
	background: #FAFAFA;
	margin-left: auto ;
	margin-right: auto;
}
fieldset {
    border: 0;
}


#right{
	float: right;
	width: 300px;
	background: #FAFAFA;
	margin-bottom: 20px;
}

#menu{
	width: 100%;
}

#content{
	margin-right: 300px;
	padding: 20px;
	height: auto;
	width: auto;
	background: #fff;
	min-width: 260px; 
	max-width: 880px;
}

#foot{
	width: 100%;
	background: #4cb6ea;
	height: 150px;
	text-align: center
}
#head{
	background: #E6E6E6;
	width: 100%;
	height: 300px
}



#login {

}
#login input {
	width: 100%;
	margin-bottom: 2px
}


#ucp {


}

.box_h {
	padding: 5px;
	background-image: linear-gradient(to bottom, #D8D8D8 0%, #FAFAFA 100%);

}

.box_r {
	padding: 5px;
	background: #FFD6E1;
}
.center
{
text-align: center;
}