@import url(http://fonts.googleapis.com/css?family=Pontano+Sans);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
body{
	background: url(http://shop.d4ho.de/style/default/images/background.jpg);
	background-repeat: repeat;
	background-position: top left;
	font-family: 'Pontano Sans', sans-serif
}
#wrapper{
	height: auto;
	min-width: 300px; 
	max-width: 1200px;
	background: #Fff;
	margin-left: auto ;
	margin-right: auto;
}
fieldset {
    border: 0;
}

#copyright {
    
    color: #fff
}

pre {
    	font-family: 'Source Code Pro', sans-serif;
        margin: 30px;
        border:1px solid #F0F0F0;
        background-color:#F8F8F8;
        padding:10px;
        color:#777;
}

#footbar{
    padding: 20px 0px;
    text-align: center; 
    background: #74CEFA;
}

.com_clear { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}
.comment {  width:700px; padding-bottom: 10px;}
.comment .avatar_box { float:left; width:80px;}
.comment .avatar { background:#fff; padding:4px; border:1px solid #d8d8d8; position:relative;}
.comment .username { color:#383838; font-weight:bold; clear:left; margin: 0;}
.comment .comment_box { float:right; padding-bottom:8px; width:610px; background:#fff; border:1px solid #d8d8d8; position:relative;}
.comment .comment_box:before { content:''; width:13px; height:13px; background:#fff; border-left:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8; position:absolute; top:24px; left:-8px; transform:rotate(45deg);}
.comment .comment_paragraph { color:#454545; line-height:18px; margin:4px 10px 0 15px;}
.comment .comment_paragraph:focus { outline:none;}
.comment .comment_submit { float: right; margin-top: 5px;}
.comment .comment_area { resize: none; border: none; width: 100%; height: auto;}
.comment .date { float:right; font-size:0.85em; color:#454545; margin-top:0; margin-right:15px;}

.QapTcha {float:left;margin-top:20px;width:252px;}
.QapTcha .clr{clear:both}
.QapTcha .bgSlider {width:252px;height:37px;float:left;border:1px solid #040404;background-color:#101010;}
.QapTcha .Slider {width:52px;height:37px;background:transparent url('http://shop.d4ho.de/style/default/images/bg_draggable_qaptcha.jpg') no-repeat;cursor:e-resize;position:relative;top:0;left:0}
.QapTcha .TxtStatus {width:252px;margin-top:7px;text-align:left;color:#bb2828;font-family:Verdana;font-size:10px;clear:both}
.QapTcha .dropSuccess {color:#4e8b37}
.QapTcha .dropError {color:#bb2828}

.right{
    text-align: right;
}

.half{
    width:50%;
}

.full{
    width:100%
}

#right{
	float: right;
	width: 300px;
	background: #FAFAFA;
	margin-bottom: 20px;
}
#navi a,
#navi a:link,
#navi a:visited,
#navi a:hover,
#navi a:active {
  color: #fff; font-weight: bold;
  text-decoration: none;
}

#menu{
	width: 100%;
}

#content{
    margin-right: 300px;
    padding: 20px;
    height: auto;
    width: auto;
    background: #fff;
    min-width: 260px; 
    max-width: 880px;
}

#foot{
    width: 100%;
    background: #4cb6ea;
    height: 150px;
    text-align: center
}
#head{
    background: #E6E6E6;
    width: 100%;
}



#login {

}
#login input {
    width: 100%;
    margin-bottom: 2px
}
#counter {
    width: 70%;
    margin: 0 auto;
}

#hbox
{
    font-weight: 700; 
    letter-spacing: 1px; 
    text-transform: uppercase; 
    font-size: 14px;
    color: #fff;
}

.box_h {
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 14px;
      font-family: 'PT Sans', sans-serif;
	padding: 5px;
        color: #fff;
	background: #4cb6ea;

}
.inlineblock.part {
width:300px;
height:300px;
}
.inlineblock.v-hr {
    width:2px; 
    color: #fff;
    text-align: center;
    height:250px; 
    margin:5px;
}

.inlineblock {
    display: inline-block;  
    vertical-align: top;
}

.box_r {
	padding: 5px;
	background: #74CEFA;
}
.center
{
    text-align: center;
}