<div class="overview_block">
    <div class="overview_head">
        Kategorien
        <hr>
    </div>
    [categories]
    <div class="overview_head">
        Top News
        <hr>
    </div>
    <div class="overview_news_panel">
      [top_news]  
    </div>
</div>
<div class="overview_block">
    <div class="overview_head">
        News Ticker
        <hr>
    </div>
    <div class="overview_news_panel">
      [news]
    </div>
    <div class="overview_head">
        Top Beitrag
        <hr>
    </div>
      [top_post]
</div>